.popup__container {
  /*Выравнивание*/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  /*Оформление*/
  background-color: #FFF;
  border-radius: 10px;

  /*размеры и отступы*/
  height: 330px;
  padding: 34px 36px 37px;
  width: 430px;
}

@media (max-width: 768px) {

  .popup__container {
    height: 322px;
    padding: 25px 22px 25px;
    width: 282px;
  }

}