.footer__author {
  /*Сброс отступов*/
  margin: 0;

  /*Типографика*/
  color: #545454;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
}

@media (max-width: 768px) {

  .footer__author {
    font-size: 14px;
  }

}