.profile__add-button {
  
  /*Размеры и отступы*/
  height: 50px;
  width: 150px;
  margin: 0;
  padding: 0;
  
  /*Оформление кнопки*/
  background-color: #000;
  background-image: url(../../../images/Add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  border-radius: 2px;
  border: 2px solid #FFF;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.profile__add-button:hover {
  opacity: .6;
}

@media (max-width: 1024px) {

  .profile__add-button {
    height: 50px;
    width: 282px;
    background-size: 16px;

    margin: 36px 0 0;
  }

}

@media (max-width: 768px) {

  .profile__add-button {
    height: 50px;
    width: 282px;
    background-size: 16px;

    margin: 0;
  }

}