.card__like-button {
  /*Размеры и отступы*/
  height: 19px;
  width: 22px;
  flex-shrink: 0;

  /*Оформление кнопки*/
  background-color: #FFF;
  background-image: url(../../../images/Like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.card__like-button:hover {
  opacity: .5;
}