.card__text {

  /*Сброс отступов*/
  margin: 0;

  /*Типографика*/
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
  width: 12ch;

  /*Переполнение блока*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}