.profile__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {

  .profile__container {
    /*Вертикальное для мобильных*/
    flex-direction: column;
  }

}