.card {

  display: flex;
  flex-direction: column;
  position: relative;

  /*Размеры и отступы*/
  width: 282px;
  height: 361px;
  max-height: min-content;

  background-color: #FFF;
  border-radius: 10px;
  overflow: hidden;
}